ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-position: inside;
}

.dogs-list {
    position: relative;
    left: 8%;
}

.search-bar {
    position: relative;
    margin-left: 10%;
}
