.dog-image {
    width:300px; /* you can use % */
    height: auto;

}

.breed {
    text-transform: capitalize;
}

ul li a {
    text-transform: capitalize;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

.breed-image{
    position: relative;
    left:15%;
}

.sub-breeds {
    position: fixed;
    top: 100px;
    left: 600px;
}

.all-dogs-button {
    position: fixed;
    top: 30px;
    left:430px
}