.dog-image {
    width:30vw;
    height: auto;

}

ul li a {
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
 .breed-comp {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 35%;
 }
 .breed {
    text-transform: capitalize;
}
